In [1]:
#Import dependencies
import pandas as pd
import csv
import numpy

In [2]:
#File to Load
school_data_path = "Resources/schools_complete.csv"
students_data_path = "Resources/students_complete.csv"

In [3]:
# DataFrames creations 
school_data = pd.read_csv(school_data_path)
students_data = pd.read_csv(students_data_path)
school_data = pd.DataFrame(school_data)
students_data = pd.DataFrame(students_data)

In [4]:
# Schools data overview
print(school_data.shape)
school_data

(15, 5)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [8]:
# Students data overview
print(students_data.shape)
students_data

(39170, 7)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [9]:
# District Summary 
District_summary = pd.DataFrame()
District_summary["total_schools"] = [len(school_data)]
District_summary["total_students"] = [len(students_data)]
District_summary["total_students"] = District_summary["total_students"].map("{:,}".format)
District_summary["total_budget"] = school_data["budget"].sum(axis=0)
District_summary["total_budget"] = District_summary["total_budget"].map("${:,.2f}".format)
District_summary["average_math"] = students_data["math_score"].mean()
District_summary["average_reading"] = students_data["reading_score"].mean()
District_summary["% Passing Math"] = ((students_data[students_data["math_score"]>=70].count().math_score)*100)/len(students_data)
District_summary["% Passing Reading"] = ((students_data[students_data["reading_score"]>=70].count().reading_score)*100)/len(students_data)
District_summary["% Overall Passing"] = students_data[(students_data["math_score"]>=70) & (students_data["reading_score"]>=70)].count().student_name
District_summary["% Overall Passing"] = (District_summary["% Overall Passing"]*100)/len(students_data)

District_summary["% Passing Math"] = District_summary["% Passing Math"].map("{:,.3f}%".format)
District_summary["% Passing Reading"] = District_summary["% Passing Reading"].map("{:,.3f}%".format)
District_summary["% Overall Passing"] = District_summary["% Overall Passing"].map("{:,.3f}%".format)

District_summary

,total_schools,total_students,total_budget,average_math,average_reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.981%,85.805%,65.172%

In [10]:
# School Summary
# Merging both DataFrames to complete the School Summary
Final_data = pd.merge(school_data, students_data, on ="school_name")
Final_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [36]:
School_Summary = pd.DataFrame()
School_Summary = Final_data.loc[:,["school_name","type", "budget"]]
School_Summary = School_Summary.drop_duplicates()
School_Summary = School_Summary.set_index(["school_name"])
School_Summary["Total Students"] = Final_data.groupby(["school_name"])["School ID"].count()
School_Summary["Per Student Budget"] = School_Summary["budget"]/School_Summary["Total Students"]
School_Summary["Average Math Score"] = Final_data.groupby(["school_name"])["math_score"].mean()
School_Summary["Average Reading Score"] = Final_data.groupby(["school_name"])["reading_score"].mean()
School_Summary["% Passing Math"] = ((Final_data.loc[Final_data["math_score"]>=70,["school_name","math_score"]]).groupby(["school_name"])["math_score"].count()*100)/School_Summary["Total Students"]
School_Summary["% Passing Reading"] = ((Final_data.loc[Final_data["reading_score"]>=70,["school_name","reading_score"]]).groupby(["school_name"])["reading_score"].count()*100)/School_Summary["Total Students"]
School_Summary["% Overall Passing"] = ((Final_data[(Final_data["math_score"]>=70) & (Final_data["reading_score"]>=70)].groupby(["school_name"])["school_name"].count())*100)/School_Summary["Total Students"]
School_Summary["budget"] = School_Summary["budget"].map("${:,.2f}".format)
School_Summary["Per Student Budget"] = School_Summary["Per Student Budget"].map("${:,.2f}".format)
School_Summary["% Passing Math"] = School_Summary["% Passing Math"].map("{:,.3f}%".format)
School_Summary["% Passing Reading"] = School_Summary["% Passing Reading"].map("{:,.3f}%".format)
School_Summary["% Overall Passing"] = School_Summary["% Overall Passing"].map("{:,.3f}%".format)
School_Summary = School_Summary.rename(columns = {"type":"School Type","budget":"Total School Budget"})
School_Summary = School_Summary.sort_values(["school_name"])
School_Summary = School_Summary[["School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]
School_Summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680%,81.933%,54.642%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133%,97.040%,91.335%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988%,80.739%,53.204%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.310%,79.299%,54.290%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392%,97.139%,90.599%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.753%,80.863%,53.528%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.506%,96.253%,89.227%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.684%,81.316%,53.514%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.058%,81.222%,53.539%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.595%,95.946%,90.541%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.367%,80.220%,52.988%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867%,95.855%,89.892%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272%,97.309%,90.948%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.868%,96.540%,90.583%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333%,96.611%,90.333%

In [12]:
# Top Performing Schools (By % Overall Passing)
Top_Schools = pd.DataFrame()
Top_Schools = School_Summary.sort_values(["% Overall Passing"], ascending = False)
Top_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133%,97.040%,91.335%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272%,97.309%,90.948%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392%,97.139%,90.599%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.868%,96.540%,90.583%
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.595%,95.946%,90.541%

In [13]:
Bottom_Schools = pd.DataFrame()
Bottom_Schools = School_Summary.sort_values(["% Overall Passing"])
Bottom_Schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.367%,80.220%,52.988%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988%,80.739%,53.204%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.684%,81.316%,53.514%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.753%,80.863%,53.528%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.058%,81.222%,53.539%

In [14]:
# Math Scores by Grade
# Average math score per school in 9th grade
math_9 = Final_data.loc[Final_data["grade"]=="9th",["school_name","grade", "math_score"]]
math_9 = math_9.groupby(["school_name"])["math_score"].mean()
# Average math score per school in 10th grade
math_10 = Final_data.loc[Final_data["grade"]=="10th",["school_name","grade", "math_score"]]
math_10 = math_10.groupby(["school_name"])["math_score"].mean()
# Average math score per school in 11th grade
math_11 = Final_data.loc[Final_data["grade"]=="11th",["school_name","grade", "math_score"]]
math_11 = math_11.groupby(["school_name"])["math_score"].mean()
# Average math score per school in 12th grade
math_12 = Final_data.loc[Final_data["grade"]=="12th",["school_name","grade", "math_score"]]
math_12 = math_12.groupby(["school_name"])["math_score"].mean()
math_scores_grade = pd.DataFrame()
math_scores_grade = pd.merge(math_9, math_10, on = "school_name")
math_scores_grade = math_scores_grade.rename(columns={"math_score_x":"9th", "math_score_y":"10th"})
math_scores_grade = pd.merge(math_scores_grade, math_11, on = "school_name")
math_scores_grade = math_scores_grade.rename(columns={"math_score":"11th"})
math_scores_grade = pd.merge(math_scores_grade, math_12, on = "school_name")
math_scores_grade = math_scores_grade.rename(columns={"math_score":"12th"})
math_scores_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [15]:
# Reading Scores by Grade
# Average reading score per school in 9th grade
read_9 = Final_data.loc[Final_data["grade"]=="9th",["school_name","grade", "reading_score"]]
read_9 = read_9.groupby(["school_name"])["reading_score"].mean()
# Average math score per school in 10th grade
read_10 = Final_data.loc[Final_data["grade"]=="10th",["school_name","grade", "reading_score"]]
read_10 = read_10.groupby(["school_name"])["reading_score"].mean()
# Average math score per school in 11th grade
read_11 = Final_data.loc[Final_data["grade"]=="11th",["school_name","grade", "reading_score"]]
read_11 = read_11.groupby(["school_name"])["reading_score"].mean()
# Average math score per school in 12th grade
read_12 = Final_data.loc[Final_data["grade"]=="12th",["school_name","grade", "reading_score"]]
read_12 = read_12.groupby(["school_name"])["reading_score"].mean()
reading_scores_grade = pd.DataFrame()
reading_scores_grade = pd.merge(read_9, read_10, on = "school_name")
reading_scores_grade = reading_scores_grade.rename(columns={"reading_score_x":"9th", "reading_score_y":"10th"})
reading_scores_grade = pd.merge(reading_scores_grade, read_11, on = "school_name")
reading_scores_grade = reading_scores_grade.rename(columns={"reading_score":"11th"})
reading_scores_grade = pd.merge(reading_scores_grade, read_12, on = "school_name")
reading_scores_grade = reading_scores_grade.rename(columns={"reading_score":"12th"})
reading_scores_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [57]:
# Scores by School Spending
bins = [0, 584, 626, 644,675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
School_Spending = pd.DataFrame()
School_Spending = School_Summary.iloc[:,[3,4,5,6,7,8]]
School_Spending.reset_index(drop=True, inplace=True)

#Change Per Student Budget to numeric values 
School_Spending["Per Student Budget"] = School_Spending["Per Student Budget"].str.replace(',', '')
School_Spending["Per Student Budget"] = School_Spending["Per Student Budget"].str.replace('$', '')
ds = pd.to_numeric(School_Spending["Per Student Budget"])
School_Spending["Per Student Budget"] = ds
School_Spending["Score"] = pd.cut(School_Spending["Per Student Budget"], bins, labels=group_names, include_lowest=True)

School_Spending=School_Spending.groupby("Score")

C:\Users\da34s\.conda\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\da34s\.conda\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\da34s\.conda\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\da34s\.conda\envs\PythonData2\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]